.status {
    
    width: 15px;
    height: 15px;
   border-radius: 50%;
    background-color: green;
    margin-right: 20px;
    align-self: center;
}

.avatar {
   margin-right: 15px;
}
.name {
    font-size: 18px;
    font-weight: 600;
}