.statistics {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid rgb(236, 236, 236);
}

.title {
    font-size: 30px;
   letter-spacing: 0.05em;
    text-align: center;
    color: rgb(175, 174, 174);
}

.stat_list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: calc(300px/5);
text-align: center;
color: #fff;
}

.label {
    font-size: 13px;
}

.percentage {
    font-size: 20px;
    font-weight: 700;
}